@font-face {
    font-family: 'CircularStd';
    src: url('./assets/fonts/CircularStd.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CircularStd', sans-serif;
}

h1, h2, h3, button {
    font-family: 'CircularStd', sans-serif;
}
